<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <!--
  block metas
    include ../block/metas
  -->
  <!--
  block style
    include ../block/style
  -->
</head>
<body class="{{class__body}}">
  <!-- block header -->
  <!-- block main -->
  <!-- block footer -->

  <!-- block modal -->
  <!--
    block scripts
      include ../block/script
  -->
</body>
</html>
+
